[submodule "ENTREGABLES_CARPETAS/CHIPANA_JERONIMO_LABORATORIO_02/LABORATORIOS/LABORATORIO_02/CHIPANA_JERONIMO_LABORATORIO_02_FP"]
	path = ENTREGABLES_CARPETAS/CHIPANA_JERONIMO_LABORATORIO_02/LABORATORIOS/LABORATORIO_02/CHIPANA_JERONIMO_LABORATORIO_02_FP2
	url = https://github.com/ChipanaGerman/CHIPANA_JERONIMO_LABORATORIO_02.git



[submodule "ENTREGABLES_CARPETAS/CHIPANA_JERONIMO_LABORATORIO_03/LABORATORIOS/LABORATORIO_03/CHIPANA_JERONIMO_LABORATORIO_03"]
	path = ENTREGABLES_CARPETAS/CHIPANA_JERONIMO_LABORATORIO_03/LABORATORIOS/LABORATORIO_03/CHIPANA_JERONIMO_LABORATORIO_03
	url = https://github.com/ChipanaGerman/CHIPANA_JERONIMO_LABORATORIO_03.git
